<!doctype html>
<html>
  <head>
    <title>Seismogram Browser</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="img/icomoon/style.css"/>
    <link rel="stylesheet/less" type="text/css" href="style.less"/>
    <link href='http://fonts.googleapis.com/css?family=Oxygen|Didact+Gothic' rel='stylesheet' type='text/css'>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-73225033-1', 'auto');
     ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="bower_components/traceur/traceur.js"></script>
    <script type="text/javascript">new traceur.WebPageTranscoder(document.location.href).run();</script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="bower_components/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="bower_components/leaflet.editable/src/Leaflet.Editable.js"></script>
    <script type="text/javascript" src="bower_components/less/dist/less.js" data-env="development"></script>
    <script type="text/javascript" src="bower_components/d3/d3.js"></script>
    <script type="text/javascript" src="bower_components/jszip/dist/jszip.js"></script>
    <script type="text/javascript" src="bower_components/FileSaver/FileSaver.js"></script>
    <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="bower_components/localforage/dist/localforage.js"></script>
    <script type="module">
      import "src/App.js";
    </script>
  </head>
  <body ng-cloak>

    <!-- generic messages in the center of the screen -->
    <div class="loading-spinner" ng-show="ScreenMessage.any()">
      <div ng-repeat="message in ScreenMessage.messages" class="{{message.type}}">
        {{ message.name }}
      </div>
    </div>

    <!-- generic popup -->
    <div class="popup-message" ng-show="Popup.visible">
      <div class="message">{{ Popup.message }}</div>
      <div class="buttons">
        <div class="button" ng-click="Popup.yes()">OK</div>
        <div class="button" ng-click="Popup.no()">Cancel</div>
      </div>
    </div>

    <!-- log in dialog -->
    <div class="log-in-dialog" ng-show="LogInDialog.visible">
      <div ng-show="!loggedIn">
        <div class="field">
          <input type="text" placeholder="Username" ng-model="LogInDialog.username"></input>
        </div>
        <div class="field">
          <input type="password" placeholder="Password" ng-model="LogInDialog.password"></input>
        </div>
        <div class="button-container">
          <div class="button login" ng-click="LogInDialog.logIn()">Log In</div>
          <div class="button close" ng-click="LogInDialog.close()">Close</div>
        </div>
      </div>
      <div ng-show="loggedIn">
        <div class="button-container">
          <div class="button logout" ng-click="LogInDialog.logOut()">Log Out</div>
          <div class="button close" ng-click="LogInDialog.close()">Close</div>
        </div>
      </div>
    </div>

    <div class="app-container" ng-view></div>
  </body>
</html>
