html {
  width: 100%;
  height: 100%;
}

/* body is display: flex so that the
   right-section is fixed-width and
   the left-section is space-filling */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* main layout */

/* left-section is display: flex so that the
   filters are fixed-height and the map is
   space-filling */

#left-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#right-section {
  display: inline-block;
  width: 500px;
  height: 100%;
}

#query-button {
  height: 40px; 
}

.maps {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* directives */

.leaflet-map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#seismo-time-nubbin {
  height: 20px;
  width: 100%;
}

#seismo-query-nubbins {
  display: flex;
  height: 100px;
  width: 100%;
}

#seismo-query-nubbins div, #seismo-time-nubbin div {
  display: inline-block;
  margin: auto 0;
}

.seismo-list {
  height: 100%;
  overflow: scroll;
}

.seismo-list-item {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.image-map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.image-map-layers {
  position: absolute;
  top: 120px;
  right: 10px;
}

.image-map-layers div.active {
  background: #ADD6FF;
}

.image-map-controls div, .image-map-layers div {
  padding: 10px;
  cursor: pointer;
  background: white;
  text-align: center;
  margin: 5px;
  border: 1px solid #aaa;
}

/* svg */

.inner-segments path {
  fill-opacity: 0.9;
}

circle.outer-circle {
  fill: #044;
  opacity: 0.25;
}

/* color scheme: http://paletton.com/#uid=50D0B0kGZr3qxC9DOA-KQlZPLgn */

path.not-started {
  fill: #FF372C;
}

path.ongoing {
  fill: #FF8900;
}

path.needs-attention {
  fill: #AF0900;
}

path.complete {
  fill: #820600;
}
