//
// This file declares:
//  * styling for the top-level HTML in index.html. This includes the top-level body/html
//    as well as, e.g., the loading-spinner which lives in index.html
//
//  * mixins shared by the CSS in all the views. Mixins are explicitly suffixed with "-mixin".
//
//  * `import`s of the CSS for all the views, which live in their respective module
//    directories.
//

html {
  width: 100%;

  // font-family: "Optima", "Arial", sans-serif;
  // font-family: "Gill Sans", "Arial", sans-serif;
  //font-family: "Helvetica", "Arial", sans-serif;
  //font-family: "Arial", sans-serif;
  //font-family: "Lucida Grande", sans-serif;

  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Noto Sans', sans-serif;
  // font-family: 'Arimo', sans-serif;
  // font-family: 'Oxygen', sans-serif;
  // font-family: 'Maven Pro', sans-serif;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;

  body {
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    //
    // The following declarations (down to .app-container) are global and apply to
    // the entire app.
    //

    a {
      cursor: pointer;
    }

    // The global loading spinner. Its HTML is declared in index.html.
    .loading-spinner {
      position: absolute;
      width: 300px;
      top: 300px;
      left: 50%;
      margin-left: -150px;
      background: white;
      font-size: 16px;
      z-index: 30;
      text-align: center;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 0px 1px 2px #a7a7a7;
      div {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #ccc;
        &:first-child {
          border-top: none;
        }
        &.error {
          background: #ffcb8e;
        }
      }
    }

    // Global generic popup dialog with Yes/No choices
    .popup-message {
      position: absolute;
      top: 50px;
      left: 50%;
      width: 300px;
      margin-left: -150px;
      background: white;
      border-radius: 3px;
      box-shadow: 0px 1px 3px #888;
      z-index: 50;
      font-size: 16px;

      .message {
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      .buttons {
        text-align: center;
        .button {
          display: inline-block;
          text-align: center;
          width: 100px;
          padding: 5px;
          background: #ddd;
          border-radius: 3px;
          box-shadow: 0px 1px 2px #aaa;
          margin: 10px;
          cursor: pointer;
        }
      }
    }

    // The header for all the sections. I chose to make it absolute and float on top of the
    // full-screen list and map views. Note that the title and links (the contents
    // of the header) are also absolute wrt the window, they are not relative to the
    // header box.
    .header-mixin {
      // inheriters should override:
      // box-shadow, color, background
      font-family: "Oxygen", sans-serif;
      position: absolute;
      // note: If this isn't set, the header height collapses down. This is because
      // its contents are also absolute.
      height: 32px;
      top: 0; left: 0;
      font-size: 16px;
      width: 100%;
      z-index: 20;

      // The "Skate" part
      .title {
        font-weight: bold;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 2px;
        margin-left: 10px;
        cursor: pointer;
        .title-text {
          font-size: 20px;
        }
        .title-subtext {
          font-size: 16px;
        }
      }
    }

    //
    // This mixin is shared by the view and edit views and it's used to render
    // the map layers control, the viewer actions, and the editor actions.
    //

    // This is the top-level container for all the action boxes on the right
    .controls-mixin {
      position: absolute;
      top: 30px;
      right: 15px;
      z-index: 30;

      // This is an individual actions box with a title and a list of actions below
      .actions {
        opacity: 0.95;
        color: #333;
        background: white;
        margin-top: 20px;
        box-shadow: 0px 1px 2px #a7a7a7;
        border-radius: 3px;

        // The title of the layers panel
        .title {
          font-size: 16px;
          font-weight: bold;
          padding: 10px;
          text-align: center;
          border-radius: 3px 3px 0 0;
          background: rgb(200, 250, 255);
          border-bottom: 1px solid rgb(124, 156, 159);
        }

        // To delimit a group of .action.sub-action rows
        .subaction-group {
          // A darker at the top gives an recessed look
          border-top: 1px solid #aaa;
          border-bottom: 1px solid #ddd;
        }

        // Each layer
        .action {

          border-bottom: 1px solid #eee;
          cursor: pointer;
          // The contents of the action
          .action-name {
            font-size: 16px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;

            .opacity-container {
              margin-top: 5px;

              .opacity-box {
                width: 17px;
                height: 17px;
                margin-right: 1px;
                display: inline-block;
                background: #eee;

                &.active {
                  background: #999;
                }
              }
            }
          }
          &:last-child {
            border-bottom: none;
          }
          &.active-action, &:active {
            background: #eee;
          }
          &.opacity:active {
            background: none;
          }

          // A sub-action has a darker background and is indented.
          &.sub-action {
            border-bottom: none;
            background: #ccc;
            .action-name {
              margin-left: 20px;
            }
          }
        }
      }
    }

    //
    // The container that wraps all the views in the app, and its HTML is in index.html.
    // The CSS for each view lives in its own file in its respective module directory,
    // near its corresponding HTML
    //

    .app-container {

      @import (less) "src/main/main.less";
      @import (less) "src/browse/browse.less";
      @import (less) "src/view/view.less";
      @import (less) "src/edit/edit.less";

    }
  }
}
