<div class="main-container">
  <h1>Skate</h1>
  <div ng-show="!loggedIn">
    <div class="field">
      <input type="text" placeholder="Username" ng-model="username"></input>
    </div>
    <div class="field">
      <input type="password" placeholder="Password" ng-model="password"></input>
    </div>
    <div class="button-container">
      <div class="button login" ng-click="logIn()">Log In</div>
    </div>
  </div>

  <div ng-show="loggedIn">
    <p>Wecome to Skate. You are logged in as &quot;{{Auth.auth.username}}&quot;.</p>
    <div class="button-container">
      <div class="button browse" ng-click="$location.path('/browse')">Browse Seismograms</div>
    <div>
    <div class="button-container">
      <div class="button logout" ng-click="logOut()">Log Out</div>
    <div>
  </div>
</div>
