//
// The main container wraps the index page, the entrypoint into Skate. It is
// defined in src/main/main.html
//
.main-container {
  text-align: center;
  font-size: 16px;
  h1 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
  }
}
