<div class="edit-container">
  <!-- the header div at the top -->
  <div class="header">
    <div class="title">
      <span class="title-text" ng-click="go('/')">Skate</span>
      <span class="title-subtext">Editor</span>
      &nbsp;&bullet;&nbsp;
      <span class="title-subtext" ng-click="gotoViewer()">Open in Viewer</span>
      &nbsp;&bullet;&nbsp;
      <span class="title-subtext" ng-click="go('/browse')">Go to Browser</span>
    </div>
  </div>

  <div id="edit-map" map-link="SeismoImageMap"></div>
</div>
