<div class="view-container">
  <div class="header">
    <div class="title">Skate</div>
  </div>

  <div id="image-map" map-link="SeismoImageMap" view-reset="mapReset"></div>

  <div class="image-log" ng-show="logShowing">
    <div class="top-bar">
      <button ng-click="hideLog()">Close</button>
    </div>
    <div class="contents">
      <pre>{{log}}</pre>
    </div>
  </div>

  <div class="image-map-controls">
    <div ng-click="showLog()" ng-show="!Loading.active() && hasLog()">
      Show Log
    </div>

    <div ng-click="SeismoEditor.startEditing()"
         ng-show="!Loading.active() && canEdit()">
      Edit
    </div>
  </div>

  <div class="image-map-layers"
       ng-show="!Loading.active() && canEdit()">
    <div class="button-group" ng-repeat="ml in SeismoImageMap.metadataLayers">
      <div class="layer-button"
           ng-class="{'active': ml.on}"
           ng-click="SeismoImageMap.toggleLayer(ml)">
        {{ml.name}}
      </div>
    </div>
  </div>
</div>
