<div class="view-container">

  <!-- the header div at the top -->
  <div class="header">
    <div class="title">
      <span class="title-text" ng-click="go('/')">Skate</span>
      <span class="title-subtext">Viewer</span>
      <span ng-show="hasData()">&nbsp;&bullet;&nbsp;</span>
      <span class="title-subtext" ng-click="gotoEditor()" ng-show="hasData()">Open in Editor</span>
      &nbsp;&bullet;&nbsp;
      <span class="title-subtext" ng-click="go('/browse')">Go to Browser</span>
    </div>
  </div>

  <!-- the map showing the tiled image and metadata -->
  <div id="image-map" map-link="SeismogramMap" view-reset="mapReset"></div>

  <!-- the controls container on the right -->
  <div class="controls">

    <!-- the list of map layers -->
    <div class="actions" ng-show="!ScreenMessage.active() && hasData()">
      <div class="title">Seismogram Data</div>
      <div class="action" ng-class="{'active': ml.on}" ng-repeat="ml in SeismogramMap.metadataLayers">
        <div class="action-name" ng-click="SeismogramMap.toggleLayer(ml)">
          <span ng-show="ml.on" class="icon-checkbox-checked">&nbsp;</span>
          <span ng-show="!ml.on" class="icon-checkbox-unchecked">&nbsp;</span>
          {{ml.name}}
        </div>
      </div>
      <div class="action opacity">
        <div class="action-name">
          Image Opacity:
          <div class="opacity-container">
            <div class="opacity-box"
                 ng-class="{'active': SeismogramMap.imageLayer.options.opacity == i / 10}"
                 ng-repeat="i in range(0,10)"
                 ng-click="SeismogramMap.imageLayer.setOpacity(i / 10)"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- the list of "actions" below the layers -->
    <div class="actions">
      <div class="title">Seismogram Actions</div>
      <div class="action">
        <div class="action-name" ng-click="detailsShowing=true">
          <span class="icon-info">&nbsp;</span>
          Show Details
        </div>
      </div>
      <div class="action" ng-show="!ScreenMessage.active() && hasLog()">
        <div class="action-name" ng-click="showLog()">
          <span class="icon-file-text">&nbsp;</span>
          Show Processing Log
        </div>
      </div>
      <div class="action" ng-show="!ScreenMessage.active() && hasData()">
        <div class="action-name" ng-click="gotoEditor()">
          <span class="icon-pencil">&nbsp;</span>
          Open in Editor
        </div>
      </div>
      <div class="action" ng-show="!ScreenMessage.active()">
        <a class="action-name" ng-href="https://s3.amazonaws.com/WWSSN_Scans/{{ SeismogramMap.currentFile.name }}" target="_blank">
          <span class="icon-download3">&nbsp;</span>
          Download Original
        </div>
      </div>
    </div>
  </div>

  <!-- the popup window showing file details -->
  <div class="details" ng-show="detailsShowing">
    <div class="top-bar">
      <a class="buttons" ng-click="detailsShowing=false">
        <span class="icon-cross"></span> Close
      </a>
      <div class="title">File Details</div>
    </div>
    <div class="contents">
      <div class="row">
        <div class="label">Name:</div> {{ SeismogramMap.currentFile.name }}
      </div>
      <div class="row">
        <div class="label">Date/Time:</div> {{ QueryData.formatDate(SeismogramMap.currentFile) }}
      </div>
      <div class="row">
        <div class="label">Location:</div> {{ QueryData.stationLocation(SeismogramMap.currentFile) }}
      </div>
      <div class="row">
        <div class="label">Type:</div> {{ QueryData.seismoType(SeismogramMap.currentFile) }}
      </div>
      <div class="row">
        <div class="label">Direction:</div> {{ QueryData.seismoDirection(SeismogramMap.currentFile) }}
      </div>
    </div>
  </div>

  <!-- the popup window showing the processing log -->
  <div class="image-log" ng-show="logShowing">
    <div class="top-bar">
      <a class="buttons" ng-click="hideLog()">
        <span class="icon-cross"></span> Close
      </a>
      <div class="title">Processing Log</div>
    </div>
    <div class="contents">
      <pre>{{log}}</pre>
    </div>
  </div>
</div>
