<div id="left-section">
  <div class="maps">
    <div class="loading-spinner" ng-show="Loading.any()">
      <div ng-repeat="message in Loading.messages" class="{{message.type}}">
        {{ message.name }}
      </div>
    </div>
    <div ng-hide="imageMapVisible">
      <div id="stations-map" class="leaflet-map" map-link="SeismoStationMap" view-reset="imageMapVisible"></div>
    </div>
    <div ng-show="imageMapVisible">
      <div id="image-map" class="leaflet-map" map-link="SeismoImageMap" view-reset="[SeismoEditor.editing, imageMapVisible]"></div>

      <div class="image-log" ng-show="logShowing">
        <div class="top-bar">
          <button ng-click="hideLog()">Close</button>
        </div>
        <div class="contents">
          <pre>{{log}}</pre>
        </div>
      </div>

      <div class="image-map-controls" ng-hide="SeismoEditor.editing">
        <div ng-click="stopViewingSeismogram()">Back to map</div>

        <div ng-click="startProcessing()"
             ng-show="!Loading.active() && canProcess()">
          Start Processing
        </div>

        <div class="disabled-button" ng-show="isProcessing()">
          Processing...
        </div>

        <div ng-click="showLog()" ng-show="!Loading.active() && hasLog()">
          Show Log
        </div>

        <div ng-click="SeismoEditor.startEditing()"
             ng-show="!Loading.active() && canEdit()">
          Edit this seismogram
        </div>
      </div>

      <div class="image-map-controls" ng-show="SeismoEditor.editing">
        <div ng-show="!SeismoEditor.saving" ng-click="SeismoEditor.saveChanges()">Save Changes</div>
        <div class="disabled-button" ng-show="SeismoEditor.saving">Saving...</div>
        <div ng-click="SeismoEditor.discardChanges()">Discard Changes</div>
        <div ng-click="SeismoEditor.exitEditing()">Exit</div>
      </div>

      <div class="image-map-layers"
           ng-class="{'while-editing': SeismoEditor.editing}"
           ng-show="!Loading.active() && canEdit()">
        <div class="button-group" ng-repeat="ml in SeismoImageMap.metadataLayers">
          <div class="layer-button"
               ng-class="{'active': ml.on}"
               ng-click="SeismoImageMap.toggleLayer(ml)">
            {{ml.name}}
          </div>
          <div class="edit-button"
               ng-show="SeismoEditor.editing"
               ng-class="{'active': SeismoEditor.layerBeingEdited == ml}"
               ng-click="SeismoEditor.startEditingLayer(ml)">
            Edit
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="query-ui">
    <div id="seismo-time-nubbin" query-params="queryParamModel" seismo-time-nubbin></div>
    <div id="seismo-query-nubbins" seismo-status="SeismoStatus"
         query-params="queryParamModel" seismo-query-nubbins></div>
    <!-- probably wont need this button eventually -->
    <button id="query-button" ng-click="queryStationStatuses()">Query</button>
  </div>

  <svg id="histogram" map-link="SeismoHistogram"></div>
</div>

<div id="right-section" ng-hide="SeismoEditor.editing">
  <div class="seismo-list">
    <div class="seismo-list-item"
         ng-repeat="file in SeismoData.files"
         ng-class="{'active' : file == SeismoImageMap.currentFile }"
         ng-click="viewSeismogram(file)">
      {{ SeismoData.formatDate(file) }}<br/>
      {{ SeismoData.stationLocation(file) }}<br/>
      {{ SeismoData.seismoType(file) }}, {{ SeismoData.seismoDirection(file) }}
      <div class="filename">{{ file.name }}</div>
    </div>
  </div>
</div>
