<div>
  <input type="text" placeholder="Station names" ng-model="queryParams.stationNames" />
  <br/>

  <input type="checkbox" ng-model="queryParams.notStarted" />
  <div>Not started</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.inProgress" />
  <div>In progress</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.needsAttention" />
  <div>Needs attention</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.complete" />
  <div>Complete</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.editedByMe" />
  <div>Edited by me</div>
</div>
