<div>
  <input type="text" placeholder="Station names" ng-model="queryParams.stationNames" />
  <br/>

  <input type="checkbox" ng-model="queryParams.notStarted" />
  <div>Not started</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.processing" />
  <div>Processing</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.failed" />
  <div>Failed</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.complete" />
  <div>Complete</div>
  <br/>

  <input type="checkbox" ng-model="queryParams.edited" />
  <div>Edited</div>
</div>
