@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?3iq9mz');
	src:url('fonts/icomoon.eot?#iefix3iq9mz') format('embedded-opentype'),
		url('fonts/icomoon.ttf?3iq9mz') format('truetype'),
		url('fonts/icomoon.woff?3iq9mz') format('woff'),
		url('fonts/icomoon.svg?3iq9mz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e901";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-stack:before {
	content: "\e92e";
}
.icon-pushpin:before {
	content: "\e946";
}
.icon-location2:before {
	content: "\e948";
}
.icon-spinner11:before {
	content: "\e984";
}
.icon-search:before {
	content: "\e986";
}
.icon-zoom-in:before {
	content: "\e987";
}
.icon-zoom-out:before {
	content: "\e988";
}
.icon-enlarge:before {
	content: "\e989";
}
.icon-cog:before {
	content: "\e994";
}
.icon-list:before {
	content: "\e9ba";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-download3:before {
	content: "\e9c7";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-link:before {
	content: "\e9cb";
}
.icon-question:before {
	content: "\ea09";
}
.icon-info:before {
	content: "\ea0c";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkbox-checked:before {
	content: "\ea52";
}
.icon-checkbox-unchecked:before {
	content: "\ea53";
}
.icon-share2:before {
	content: "\ea82";
}
